---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/appnzIqiDdK0Kew4f/Totals?filterByFormula=%7BName%7D%20=%20%27September%202015%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b4-W6kuhxGUOahRywWpJnrUMMa6UVk"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"recZtH0Ot7PjORaao","fields":{"Name":"September 2015","Spend":0,"Overrides":0,"Total":0,"Month":["recBbSMme0aMauDch"]},"createdTime":"2020-08-30T19:15:16.000Z"}]}'
  recorded_at: Sun, 30 Aug 2020 19:36:49 GMT
- request:
    method: post
    uri: https://api.airtable.com/v0/appnzIqiDdK0Kew4f/Transactions
    body:
      encoding: UTF-8
      string: '{"fields":{"Monzo ID":"tx_00008zjky19HyFLAzlUk7t","Description":"Ozone
        Coffee Roasters","Amount":-350,"Created":"2015-09-04T14:28:40.000Z","Month":["recZtH0Ot7PjORaao"]}}'
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ec-g7aQLcuqMYuy8A00buh56jKtIAM"
    body:
      encoding: UTF-8
      string: '{"id":"recMlwwGYl55DB8Q3","fields":{"Monzo ID":"tx_00008zjky19HyFLAzlUk7t","Description":"Ozone
        Coffee Roasters","Amount":-350,"Month":["recZtH0Ot7PjORaao"],"Created":"2015-09-04T14:28:40.000Z"},"createdTime":"2020-08-30T19:36:50.000Z"}'
  recorded_at: Sun, 30 Aug 2020 19:36:50 GMT
- request:
    method: get
    uri: https://api.airtable.com/v0/appnzIqiDdK0Kew4f/Transactions?filterByFormula=%7BMonzo%20ID%7D%20=%20%27tx_00008zjky19HyFLAzlUk7t%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fa-H5TFl713gOt0Zd0RyN4rWXRxyxM"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"recMlwwGYl55DB8Q3","fields":{"Monzo ID":"tx_00008zjky19HyFLAzlUk7t","Description":"Ozone
        Coffee Roasters","Amount":-350,"Month":["recZtH0Ot7PjORaao"],"Created":"2015-09-04T14:28:40.000Z"},"createdTime":"2020-08-30T19:36:50.000Z"}]}'
  recorded_at: Sun, 30 Aug 2020 19:36:50 GMT
- request:
    method: patch
    uri: https://api.airtable.com/v0/appnzIqiDdK0Kew4f/Transactions/recMlwwGYl55DB8Q3
    body:
      encoding: UTF-8
      string: '{"fields":{"Month":null}}'
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ce-abh9Y6rd9Ifskadu/9myP/mPM9Q"
    body:
      encoding: UTF-8
      string: '{"id":"recMlwwGYl55DB8Q3","fields":{"Monzo ID":"tx_00008zjky19HyFLAzlUk7t","Description":"Ozone
        Coffee Roasters","Amount":-350,"Created":"2015-09-04T14:28:40.000Z"},"createdTime":"2020-08-30T19:36:50.000Z"}'
  recorded_at: Sun, 30 Aug 2020 19:36:51 GMT
[...]
- request:
    method: patch
    uri: https://api.airtable.com/v0/appnzIqiDdK0Kew4f/Transactions
    body:
      encoding: UTF-8
      string: body=%7B%22records%22%3A%5B%7B%7D%5D%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50-8xYAvLBWleFLl/buYhG+M42uVZo"
    body:
      encoding: UTF-8
      string: '{"error":{"type":"AUTHENTICATION_REQUIRED","message":"Authentication
        required"}}'
  recorded_at: Sun, 30 Aug 2020 19:36:52 GMT
- request:
    method: get
    uri: https://api.airtable.com/v0/appnzIqiDdK0Kew4f/Transactions?filterByFormula=%7BMonzo%20ID%7D%20=%20%27tx_00008zjky19HyFLAzlUk7t%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc-GUoU3wTeUWn7V/1wWu1TczW/DMQ"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"recMlwwGYl55DB8Q3","fields":{"Monzo ID":"tx_00008zjky19HyFLAzlUk7t","Description":"Ozone
        Coffee Roasters","Amount":-350,"Created":"2015-09-04T14:28:40.000Z"},"createdTime":"2020-08-30T19:36:50.000Z"}]}'
  recorded_at: Sun, 30 Aug 2020 19:36:53 GMT
recorded_with: VCR 6.0.0
