---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/appnzIqiDdK0Kew4f/Transactions?filterByFormula=%7BMonzo%20ID%7D%20=%20%27tx_00008zjky19HyFLAzlUk7t%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c9-QRdHpitM/NHXbhHo0VKdInSK+6k"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"recdONyH5iTcSKsz6","fields":{"Monzo ID":"tx_00008zjky19HyFLAzlUk7t","Description":"Ozone
        Coffee Roasters","Amount":-350,"Month":["recZtH0Ot7PjORaao"],"Created":"2015-09-04T14:28:40.000Z"},"createdTime":"2020-08-30T19:26:03.000Z"},{"id":"recp6MmMFNJ0BGdm8","fields":{"Amount":-350,"Monzo
        ID":"tx_00008zjky19HyFLAzlUk7t","Created":"2015-09-04T14:28:40.000Z","Description":"Ozone
        Coffee Roasters"},"createdTime":"2020-08-29T17:37:03.000Z"}]}'
  recorded_at: Sun, 30 Aug 2020 19:26:05 GMT
[...]
- request:
    method: get
    uri: https://api.airtable.com/v0/appnzIqiDdK0Kew4f/Totals?filterByFormula=%7BName%7D%20=%20%27September%202015%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc-ggKi0DImYcLic1nv34XzgLDq0No"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"recZtH0Ot7PjORaao","fields":{"Name":"September 2015","Spend":-350,"Overrides":0,"Total":0,"Month":["recBbSMme0aMauDch"],"Transactions":["recdONyH5iTcSKsz6"]},"createdTime":"2020-08-30T19:15:16.000Z"}]}'
  recorded_at: Sun, 30 Aug 2020 19:26:05 GMT
recorded_with: VCR 6.0.0
