---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/appnzIqiDdK0Kew4f/Totals?filterByFormula=%7BName%7D%20=%20%27September%202015%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b4-W6kuhxGUOahRywWpJnrUMMa6UVk"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"recZtH0Ot7PjORaao","fields":{"Name":"September 2015","Spend":0,"Overrides":0,"Total":0,"Month":["recBbSMme0aMauDch"]},"createdTime":"2020-08-30T19:15:16.000Z"}]}'
  recorded_at: Sun, 30 Aug 2020 19:26:02 GMT
- request:
    method: post
    uri: https://api.airtable.com/v0/appnzIqiDdK0Kew4f/Transactions
    body:
      encoding: UTF-8
      string: '{"fields":{"Monzo ID":"tx_00008zjky19HyFLAzlUk7t","Description":"Ozone
        Coffee Roasters","Amount":-350,"Created":"2015-09-04T14:28:40.000Z","Month":["recZtH0Ot7PjORaao"]}}'
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ec-RiS+8TTQ9j2SXgcRlUWyiN6zSMY"
    body:
      encoding: UTF-8
      string: '{"id":"recdONyH5iTcSKsz6","fields":{"Monzo ID":"tx_00008zjky19HyFLAzlUk7t","Description":"Ozone
        Coffee Roasters","Amount":-350,"Month":["recZtH0Ot7PjORaao"],"Created":"2015-09-04T14:28:40.000Z"},"createdTime":"2020-08-30T19:26:03.000Z"}'
  recorded_at: Sun, 30 Aug 2020 19:26:02 GMT
recorded_with: VCR 6.0.0
