---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/appnzIqiDdK0Kew4f/Transactions?filterByFormula=%7BMonzo%20ID%7D%20=%20%27tx_00008zjky19HyFLAzlUk7t%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ab-+Oayor2czqX+ARLLFqYOM/RAoyc"
    body:
      encoding: UTF-8
      string: '{"records":[{"id":"reclUwbMrt1XZDvbE","fields":{"Monzo ID":"tx_00008zjky19HyFLAzlUk7t","Description":"Ozone
        Coffee Roasters","Amount":-350,"Created":"2015-09-04T14:28:40.000Z"},"createdTime":"2020-08-29T17:37:24.000Z"},{"id":"recp6MmMFNJ0BGdm8","fields":{"Monzo
        ID":"tx_00008zjky19HyFLAzlUk7t","Description":"Ozone Coffee Roasters","Amount":-350,"Created":"2015-09-04T14:28:40.000Z"},"createdTime":"2020-08-29T17:37:03.000Z"}]}'
  recorded_at: Sat, 29 Aug 2020 17:38:03 GMT
[...]
- request:
    method: post
    uri: https://api.airtable.com/v0/appnzIqiDdK0Kew4f/Transactions
    body:
      encoding: UTF-8
      string: '{"fields":{"id":"recp6MmMFNJ0BGdm8","Monzo ID":"tx_00008zjky19HyFLAzlUk7t","Description":"Ozone
        Coffee Roasters","Amount":-350,"Created":"2015-09-04T14:28:40.000Z"}}'
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      X-Api-Version:
      - 0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4e-NWL1CCk7FdYvMfs5T6rXQR+ET9Y"
    body:
      encoding: UTF-8
      string: '{"error":{"type":"UNKNOWN_FIELD_NAME","message":"Unknown field name:
        \"id\""}}'
  recorded_at: Sat, 29 Aug 2020 17:43:08 GMT
recorded_with: VCR 6.0.0
